{% extends "_base.html" %}

{% load static %}


{% block head %} 
    {% load static %}
    <title>Home</title>
{% endblock head %}


{% block main %}

    <div class="max-w-[1200px] m-auto">
        <div class="relative flex pt-24 h-[450px] mb-24 ">
            <img src="{% static "images/metallic-epoxy.png" %}" alt=""
                class="absolute max-w-[30%] aspect-square -z-10 -top-0 left-24 opacity-70 translate-y-[-45%] rounded-br-[5rem]">
            <img src="{% static "images/blue-epoxy.png" %}" alt="" 
                class="absolute max-w-[30%] aspect-[10/8] -z-10 -bottom-24 right-0 opacity-80 rounded-tl-[5rem]">
                
            <!-- <div class="px-24 h-full flex items-end pb-4"> -->
            <div class="flex w-56 justify-center items-end pb-4">
                <img src="{% static "images/arrow-bottom-right.svg" %}" alt="" class="w-10">
            </div>
            <div class="flex items-end pb-2">
                <h1 class="text-8xl font-medium">
                    Elegant   <br>
                    Epoxy <br>
                    Flooring. <br>
                </h1>
            </div>
        </div>
        <!--  -->
        <div class="flex mb-24" id="case-studies">
            <div class="flex w-56 justify-center">
                <!-- <div class="px-24 bg-gray-600"> -->
                <span class="font-semibold"> 1—5 </span>
            </div>
            <div class="flex-1">
                <h2 class="text-5xl font-medium mb-12">Case Studies</h2>
                <div class="lg:max-w-[80ch] aspect-[3/2]">
                    {% include "components/_carousel.html" %}
                </div>
            </div>
        </div>
        <!--  -->
        <div class="flex" id="why-us">
            <div class="flex w-56 justify-center">
                <i class="fa-solid fa-star-of-life"></i>
            </div>
            <div class="flex-1">
                <h2 class="text-5xl font-medium mb-12">Our Qualities</h2>
                <div class="lg:max-w-[80ch]">
                    {% include "components/_faq.html" %}
                </div>
            </div>
        </div>
    </div> <!-- Main -->



<script>

    const faqs = document.getElementsByClassName("question");
    
    for (let i = 0; i < faqs.length; i++) { 
        const question = faqs[i];
    
        let arrow = question.querySelector('.arrow')
        let topBar = question.querySelector('.top-bar')
        let p = question.querySelector('p')
    
        function toggle(event) {
            if (p.style.display == "block") {  
                p.style.display = "none";
                arrow.style.transform = "rotate(0deg)";
                topBar.style.padding = "0";
            } 
            else { 
                p.style.display = "block"; 
                arrow.style.transform = "rotate(-180deg)";
                topBar.style.padding = "0 0 1rem 0";
    
            }
        }
        
        // btn.addEventListener('click', toggle);
        question.addEventListener('click', toggle);
    }
    
    
    </script>
    
{% endblock main %}
