<div class="w-full flex flex-col justify-center lg:max-w-[80ch] border-t border-slate-200/10">
    <div 
    class="question group border-b border-slate-200/10 p-8"
    >
        <div class="top-bar flex justify-between items-center">
            <span class="text-xl font-medium group-hover:text-blue-600">
                <i class="fa-regular fa-circle-check mr-4"></i> Superior Quality
            </span>
            <i class="arrow fa-solid fa-chevron-down"></i>
        </div>

        <p class="answer hidden text-slate-400">
            We use only high-grade materials for our epoxy floors, ensuring exceptional durability and strength, so your investment lasts for many years.
        </p>

    </div>
    <!-- 2nd -->
    <div 
    class="question group border-b border-slate-200/10 p-8"
    >
        <div class="top-bar flex justify-between items-center">
            <span class="text-xl font-medium group-hover:text-blue-600">
                <i class="fa-regular fa-clock mr-4"></i> Quick Installation
            </span>
            <i class="arrow fa-solid fa-chevron-down"></i>
        </div>

        <p class="answer hidden text-slate-400">
            We understand the value of your time. Our streamlined process allows us to complete the installation of your epoxy floors in just one day, minimizing any disruption.
        </p>

    </div>
    <!-- 3rd -->
    <div 
    class="question group border-b border-slate-200/10 p-8"
    >
        <div class="top-bar flex justify-between items-center">
            <span class="text-xl font-medium group-hover:text-blue-600">
                <i class="fa-solid fa-sign-hanging mr-4"></i> Free Estimates
            </span>
            <i class="arrow fa-solid fa-chevron-down"></i>
        </div>

        <p class="answer hidden text-slate-400">
            We offer free consultations and estimates for all our services, giving you the chance to plan your project with no obligations and complete transparency.
        </p>

    </div>
</div> <!-- FAQ container  -->